@import url('http://fonts.goggleapis.com/css2?family=ui-monospace:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'monospace', monospace;
  background-color: rgb(161, 100, 223);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
